# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Node.js
# ==========================
node_modules/
dist/
build/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Databases
# ==========================
*.db
*.sqlite3

# ==========================
# Logs
# ==========================
*.log

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Cache
# ==========================
.pytest_cache/
.cache/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/